body, html {
    height: 100%;
    background-color: grey;
    margin : 0;
}

#creatureTable {
    margin: auto;
  }

body, 
#buttonBar {
  text-align: center;
}

table, th, td {
	border: 1px solid black; 
}

th {
	text-transform: uppercase;
}

#creatureTable tbody tr {
	text-transform: capitalize;
}

.hideme
{
    display:none;
    visibility:hidden;
}
.showme
{
    display:inline;
    visibility:visible;
}